/*
Theme Name: Pomana Child
Theme URI: https://pomana.modeltheme.com/
Template: pomana
Author: ModelTheme
Author URI: http://modeltheme.com/
Description: Lottery & Giveaways WordPress Theme
Version: 1.0
Text Domain: pomana
Tags: custom-header, custom-menu, featured-images, post-formats, sticky-post
*/
/* Theme customization starts here
------------------------------------------------------- */
a#yith-quick-view-close {
    color: #000 !important;
    font-weight: bold;
}
a.cus_link {
    border: 1px solid;
    padding: 7px 35px;
    border-radius: 10px;
}
div#car_image .vc_column-inner {
    padding: 20px !important;
}
p.lottery-end {
    display: none;
}
.competition-time.countdown {
    display: none;
}
.competition-ajax-change {
    margin-top: 5px !important;
}
input#terms {
    position: inherit;
}

#how-to-play .vc_col-sm-12 .vc_inner .vc_column_container {
    margin-bottom: 40px;
}

#how-to-play .vc_col-sm-12 .vc_inner .vc_column_container .vc_column-inner .mt-addons-box-shadow{
    padding: 25px 10px;
}

#how-to-play .vc_col-sm-12 .vc_inner .vc_column_container a span {
    color: #ec6623 !important;
}
form.cart.pick-number h3:first-child {
    display: none;
}

form.cart.pick-number p:nth-child(2) {
    display: none;
}

form.cart.pick-number ul.competition-answers:nth-child(3) {
    display: none;
}

ul.competition-answers {
    margin-bottom: 35px !important;
}
ul.products.columns-4 table tr th:nth-child(1), ul.products.columns-4 table tr td:nth-child(1) {
    display: none;
}

@media only screen and (min-width: 768px){
    #how-to-play .vc_col-sm-12 .vc_inner .vc_column_container .vc_column-inner h6 {
        min-height: 96px;
    }
    ul.competition-answers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
ul.competition-answers li {
    text-align: center;n
    margin: 0 5px !important;
}
form.cart.pick-number h3 {
    margin-top: 0px;
}
}

@media only screen and (min-width: 992px){
    #how-to-play .vc_col-sm-12 .vc_inner .vc_column_container .vc_column-inner h6 {
        min-height: 72px;
    }
}

@media only screen and (min-width: 1200px){
    #how-to-play .vc_col-sm-12 .vc_inner .vc_column_container .vc_column-inner h6 {
        min-height: 53px;
    }
}


@media only screen and (max-width: 1100px){
.top-links {
    display: block !important;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    span.sold {
        position: unset !important;
    }
}

@media only screen and (max-width: 767px){
.modeltheme-breadcrumbs .page-title {
    padding: 60px 0px 5px !important;
}
.woocommerce table.cart td.actions .coupon .input-text+.button {
       float: right;
}
}



@media only screen and (max-width: 440px){
    span.sold {
        position: unset !important;
    }
}


/******** CUSTOM CSS *******/
textarea {resize: none !important;}

.woocommerce ul.order_details {
    padding-top: 15px;
    padding-left: 0;
}

.woocommerce ul.order_details li {
    font-weight: bold;
    font-size: 0.85em !important;
}

.woocommerce ul.order_details li strong {
    padding-top: 6px;
    font-weight: normal;
    font-size: 1.2em !important;
}

p.woocommerce-thankyou-order-received {
    color: #ec6623;
    font-size: 1.5em;
    padding-bottom: 8px;
}

td.woocommerce-table__product-name.product-name a {
    font-size: 1.2em;
}

ul.wc-item-meta {
    padding-left: 0;
    padding-top: 10px;
}

ul.wc-item-meta li {
    margin-bottom: 2px;
    font-size: 0.9em;
}

ul.wc-item-meta, ul.wc-item-meta li, ul.wc-item-meta strong, ul.wc-item-meta p {
    line-height: 30px;
}

td.woocommerce-table__product-total.product-total {
    display: flex;
}

.woocommerce-account .addresses .title h3 {
    margin-top: 0;
}

header.woocommerce-Address-title.title {
    margin-top: 20px;
}

.woocommerce-account .addresses .title .edit {
    font-size: .8em;
}



nav.woocommerce-MyAccount-navigation ul {
    display: flex;
    flex-direction: column;
}

nav.woocommerce-MyAccount-navigation ul li:nth-child(1) {
    order: 2;
}

nav.woocommerce-MyAccount-navigation ul li:nth-child(2) {
    order: 1;
}

nav.woocommerce-MyAccount-navigation ul li:nth-child(3) {
    order:3;
}

nav.woocommerce-MyAccount-navigation ul li:nth-child(4) {
    order: 4;
}

nav.woocommerce-MyAccount-navigation ul li:nth-child(5) {
    order: 5;
}

nav.woocommerce-MyAccount-navigation ul li:nth-child(6) {
    order: 6;
}

nav.woocommerce-MyAccount-navigation ul li:nth-child(7) {
    order: 7;
}

nav.woocommerce-MyAccount-navigation ul li:nth-child(8) {
    order: 8;
}

.woocommerce-form-login-toggle .woocommerce-info a {
    color: #ec6623 !important;
    text-decoration: underline;
}

body.home {
    position: realtive;
}

body.home #yith-wcwl-popup-message {
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.home #yith-wcwl-popup-message #yith-wcwl-message {
    background-color: #ec6623 !important;
    padding: 0 25px;
}

.outer .w3-green {
    color: #fff!important;
    background-color: #8bcf69 !important;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
}
.w3-light-grey.outer {
    float: left;
    width: 100%;
    border: 1px solid #e9e0e0;
    margin-bottom: 15px;
    border-radius: 10px;
    background: #d8dbdd !important;
}
.woocommerce ul.products li.product .details-container {
    padding-bottom: 10px !important;
}
h3.woocommerce-loop-product__title a {
    font-weight: bold !important;
}
.sold_percentage {
    margin-bottom: 4px;
}
.competition-ajax-change {
    display: none !important;
}

.woocommerce-product-details__short-description {
    margin-bottom: 20px;
}
form.cart.pick-number {
    margin-top: 0px !important;
}
.single-entry-summary-inner .sold_percentage {
    font-size: 14px !important;
    margin-bottom: 10px;
}
@media only screen and (min-width: 992px) {
    
    .footer-top ul.footer-navig{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}








